<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>赵薇</string>
		<key>type</key>
		<string>演员</string>
		<key>city</key>
		<string>大陆</string>
		<key>photo_name</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张柏芝</string>
		<key>type</key>
		<string>演员</string>
		<key>city</key>
		<string>香港</string>
		<key>photo_name</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郭晶晶</string>
		<key>type</key>
		<string>运动员</string>
		<key>city</key>
		<string>保定</string>
		<key>photo_name</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴奇隆</string>
		<key>type</key>
		<string>演员</string>
		<key>city</key>
		<string>台湾</string>
		<key>photo_name</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李宇春</string>
		<key>type</key>
		<string>歌手</string>
		<key>city</key>
		<string>四川</string>
		<key>photo_name</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>圣诞节快乐</string>
		<key>type</key>
		<string>旅游</string>
		<key>city</key>
		<string>America</string>
		<key>photo_name</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香山</string>
		<key>type</key>
		<string>景点</string>
		<key>city</key>
		<string>北京</string>
		<key>photo_name</key>
		<string>6</string>
	</dict>
</array>
</plist>
